In [1]:
import pandas as pd
import numpy as np

In [41]:
def table(df_col):
    return pd.crosstab(df_col, columns="Count")["Count"]

In [45]:
KEINE_ANGABE = -1

MALE = 1
FEMALE = 2

SPOUSE = 1
MOTHER_OR_FATHER = 2
MOTHER_OR_FATHER_IN_LAW = 3

In [46]:
PATH = "/home/sebastian/Documents/SOEP_v38/soep-is.2021_stata_en/"
file = "inno.dta"

In [47]:
inno = pd.read_stata(PATH + file, convert_categoricals=False)

In [48]:
p = pd.read_stata(PATH + "p.dta", convert_categoricals=False)

In [49]:
p["ple0004"]

0       -5.0
1        3.0
2       -5.0
3        2.0
4       -5.0
        ...
72963    3.0
72964    3.0
72965   -5.0
72966   -5.0
72967   -8.0
Name: ple0004, Length: 72968, dtype: float64

In [50]:
inno.shape

(47290, 5240)

In [51]:
inno.head()

,cid,hid,pid,syear,im_drm_pre,im_drm,im_js,ivornaa01,ivornaa02,ivornab01,...,pts_dkleidka,pts_dkoerp1,pts_dkoerp2,pts_dkoerp3,pts_dkoerp4,pts_dkoerp5,pts_dkoerpka,im_igi,igi01,igi02
0,213543,115380,1153802,2012,0,1,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
1,213543,115380,1153802,2013,0,1,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
2,213543,115380,1153802,2014,0,1,1,3,3,4,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
3,213543,115380,1153802,2015,0,1,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
4,213543,115380,1153802,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5

In [ ]:
# ip01: Do you know anyone (friends, family) who is in need of long-term care
# ip02: Who is this?
# ip03: Sex of this person?

# ip06: Do you care this person?
# ip07: How many hours a day do you care this person?

# ip08: Help from others (except you)?
# ip09: Who is the "other" care provider? E.g. friends, relatives, professional care service etc.


# ip10: Any other person you know (friends, family) that needs LTC?

In [55]:
# inno.loc[inno["ip03"].notna(), "ip03"].describe()

In [58]:
table(inno["ip01"])  # 1 is YES

ip01
-5    43422
-1        7
 1      942
 2     2919
Name: Count, dtype: int64

In [59]:
table(inno["ip03"])  # 1 male, 2 female

ip03
-5    43422
-2     2926
-1        2
 1      358
 2      582
Name: Count, dtype: int64

In [61]:
table(inno["ip02"])  # 2 parent, 3 parent in law, 4 grandparent, 7 other relative

ip02
-5    43422
-2     2926
-1        2
 1       65
 2      222
 3      114
 4      100
 5        6
 6       39
 7      223
 8      171
Name: Count, dtype: int64

In [70]:
table(inno["ip05"])  # residence of LTC patient

ip05
-5    43422
-2     2926
 1      114
 2      569
 3      259
Name: Count, dtype: int64

In [71]:
table(inno["ip06"])  # do you care for this person 1 yes, 2 no

ip06
-5    43422
-2     2926
 1      327
 2      615
Name: Count, dtype: int64

In [75]:
table(inno["ip08"])  # care from someone else? 1 yes, 2 no, 3 don't know

ip08
-5    43422
-2     2926
 1      703
 2      223
 3       16
Name: Count, dtype: int64

In [84]:
table(inno["ip08"])

ip08
-5    43422
-2     2926
 1      703
 2      223
 3       16
Name: Count, dtype: int64

In [90]:
table(inno["ip08a1"])

ip08a1
-5    43422
-2     3437
-1        2
 1      429
Name: Count, dtype: int64

In [91]:
table(inno["ip08a1_2"])

ip08a1_2
-5    43422
-2     3811
 1       57
Name: Count, dtype: int64

In [92]:
table(inno["ip08a1_3"])

ip08a1_3
-5    43422
-2     3857
 1       11
Name: Count, dtype: int64

In [93]:
table(inno["ip08a1_4"])

ip08a1_4
-5    43422
-2     3867
 1        1
Name: Count, dtype: int64

In [110]:
cols = [col for col in inno if col.startswith("ip")]
cols

['ip01',
 'ip02',
 'ip03',
 'ip04',
 'ip04a',
 'ip05',
 'ip06',
 'ip07w',
 'ip07sa',
 'ip07so',
 'ip08',
 'ip08a1',
 'ip08a2',
 'ip08a3',
 'ip08a4',
 'ip08a5',
 'ip08wn',
 'ip10',
 'ip02_2',
 'ip03_2',
 'ip04_2',
 'ip04a_2',
 'ip05_2',
 'ip06_2',
 'ip07w_2',
 'ip07sa_2',
 'ip07so_2',
 'ip08_2',
 'ip08a1_2',
 'ip08a2_2',
 'ip08a3_2',
 'ip08a4_2',
 'ip08a5_2',
 'ip08wn_2',
 'ip10_2',
 'ip02_3',
 'ip03_3',
 'ip04_3',
 'ip04a_3',
 'ip05_3',
 'ip06_3',
 'ip07w_3',
 'ip07sa_3',
 'ip07so_3',
 'ip08_3',
 'ip08a1_3',
 'ip08a2_3',
 'ip08a3_3',
 'ip08a4_3',
 'ip08a5_3',
 'ip08wn_3',
 'ip10_3',
 'ip02_4',
 'ip03_4',
 'ip04_4',
 'ip04a_4',
 'ip05_4',
 'ip06_4',
 'ip07w_4',
 'ip07sa_4',
 'ip07so_4',
 'ip08_4',
 'ip08a1_4',
 'ip08a2_4',
 'ip08a3_4',
 'ip08a4_4',
 'ip08a5_4',
 'ip08wn_4',
 'ip10_4']

In [83]:
cols = [col for col in inno if col.startswith("ip08")]
cols

['ip08',
 'ip08a1',
 'ip08a2',
 'ip08a3',
 'ip08a4',
 'ip08a5',
 'ip08wn',
 'ip08_2',
 'ip08a1_2',
 'ip08a2_2',
 'ip08a3_2',
 'ip08a4_2',
 'ip08a5_2',
 'ip08wn_2',
 'ip08_3',
 'ip08a1_3',
 'ip08a2_3',
 'ip08a3_3',
 'ip08a4_3',
 'ip08a5_3',
 'ip08wn_3',
 'ip08_4',
 'ip08a1_4',
 'ip08a2_4',
 'ip08a3_4',
 'ip08a4_4',
 'ip08a5_4',
 'ip08wn_4']

['ip08',
 'ip08a1',
 'ip08a2',
 'ip08a3',
 'ip08a4',
 'ip08a5',
 'ip08wn',
 'ip08_2',
 'ip08a1_2',
 'ip08a2_2',
 'ip08a3_2',
 'ip08a4_2',
 'ip08a5_2',
 'ip08wn_2',
 'ip08_3',
 'ip08a1_3',
 'ip08a2_3',
 'ip08a3_3',
 'ip08a4_3',
 'ip08a5_3',
 'ip08wn_3',
 'ip08_4',
 'ip08a1_4',
 'ip08a2_4',
 'ip08a3_4',
 'ip08a4_4',
 'ip08a5_4',
 'ip08wn_4']

In [109]:
dat["ip02b"]

KeyError: 'ip02b'

### Conditional means/shares of all pids who have a parent or parent-in-law that needs LTC, who is not cared for by the respondent

In [94]:
inno.loc[
    ((inno["ip02"] == MOTHER_OR_FATHER) | (inno["ip02"] == MOTHER_OR_FATHER_IN_LAW))
]

,cid,hid,pid,syear,im_drm_pre,im_drm,im_js,ivornaa01,ivornaa02,ivornab01,...,pts_dkleidka,pts_dkoerp1,pts_dkoerp2,pts_dkoerp3,pts_dkoerp4,pts_dkoerp5,pts_dkoerpka,im_igi,igi01,igi02
526,201251,201251,2012501,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
627,201758,201758,2017503,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
967,204307,204307,2043002,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
1329,207276,207276,2072701,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
1338,207276,207276,2072702,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35114,4088234,4088234,40882302,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
35255,4089370,4089370,40893701,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
35287,4089443,4089443,40894401,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
35318,4089702,4089702,40897001,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5
35326,4089702,4089702,40897002,2016,0,0,0,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,0,-5,-5

In [111]:
table(
    inno.loc[
        (
            (inno["ip02"] == MOTHER_OR_FATHER)
            | (inno["ip02"] == MOTHER_OR_FATHER_IN_LAW)
        ),
        "ip06",
    ],
)

ip06
1    169
2    167
Name: Count, dtype: int64

### but is cared for by another relative versus professional care

In [113]:
table(
    inno.loc[
        ((inno["ip02"] == MOTHER_OR_FATHER) | (inno["ip02"] == MOTHER_OR_FATHER_IN_LAW))
        & (inno["ip06"] == 2),
        "ip08a1",
    ],
)

ip08a1
-2    93
 1    74
Name: Count, dtype: int64

In [120]:
(
    table(
        inno.loc[
            (
                (inno["ip02"] == MOTHER_OR_FATHER)
                | (inno["ip02"] == MOTHER_OR_FATHER_IN_LAW)
            )
            & (inno["ip06"] == 2),
            "ip08a2",
        ],
    )[1]
    + table(
        inno.loc[
            (
                (inno["ip02"] == MOTHER_OR_FATHER)
                | (inno["ip02"] == MOTHER_OR_FATHER_IN_LAW)
            )
            & (inno["ip06"] == 2),
            "ip08a3",
        ],
    )[1]
)

68

In [121]:
74 + 68

142

In [114]:
74 / 167

0.4431137724550898

In [ ]:
inno.loc[
    ((inno["ip02"] == MOTHER_OR_FATHER) | (inno["ip02"] == MOTHER_OR_FATHER_IN_LAW))
    & (inno["ip02"] == MOTHER_OR_FATHER)
]

## Alternative 1 - Exogenous Process for OTHER informal care by relatives or friends:

- Condition on gender of respondent
- separate by presence of siblings (if sibling is a state variable)
- simplified exogenous bargaining game

- Assume bargaining among siblings? And or/parents? Who makes the first choice?

- exogenous process: probability of outside informal care (unconditional on own informal care): if yes, agent can provide no care
--> Can identify through soep-is moment **[1 conditional mean]** _"Share of people choosing own informal care when exogenous outside informal care is also available"_



- formal (institutional) care always possible
- if a relative + care service or only relative on her own provides informal care, does not matter for choice of the agent
- interpretation: other siblings and relatives make the first choice: 
"Would the be willing to provide informal care"

- The agent ("daughter"), then decides on her formal care provision
--> can identify moment through soep-is **[1 conditional mean]** _"Share of people choosing formal care when exogenous outside informal care is NOT available"_

- daughter is in "last_restort" situation: forced to make an "active" care (i.e. "no care" not an option) decision if no one else is willing to provide informal care

- if we observe an agent (i.e. daughter) NOT selecting any care (not informal, not formal) it means that someone else provides informal care

- exogenous process

### Further

- separate labor-caregiving moments for light and intensive care
- light care = combination care: informal care in conjunction with care service
- drop people (from sample and from moments) that provide care for someone else than a parent (parent-in-law), i.e. people with a sick child or a spouse in bad health
- weight those remaining people in the sample --> generate weighted moments (:
--> weight by calculating propensity. 
- Logit regression in SHARE: Dummy of parental informal care (at least weekly) on age, high_educ, lagged choice full-time, lagged choice part-time (STATE Variables)
- then multiply observations in SOEP accordingly before constructing moments

- can't find "child is ill" variable. Drop all observatins (or pid) with care-dependent person in own household?
--> how many adult children live with their parents? ...
- can use SHARE to also predict if a caregiver provides care to another relative (including child) - 8% - or someone else --> downweight
- need to correct sample weight at the end: Sum of all weights (=easy, simple colsum of weights). Then sum over all WEIGHTED values in the column of interest (e.g. labor dummies of NW/PT/FT), which is then divided by the total sum of weights used
--> Taken together, conditional on being an informal caregiver (in SHARE), how likely is it that you provide care to a parent or parent-in-law: Add new column with that propensity in SOEP (=weight) for the CAREGIVERS only! Non caregivers receive naturally zero weight

### Caregiving moments
1. own informal (light, intensive): population SHARES informal care (light, intensive) by 5-year age bins from SOEP
2. Combination care = light informal (see above)
3. Formal care (nursing home): Logit parameters

## Check empirics/plot!

- simulate exogenous process of parental health trajectories: expect hump shape over agent's age
- DIW Wochenbericht: Informal caregiving over agent's age --> no hump shape actually! Increasing up to age 70, then drop. Check yearly or finer binned caregiving profile in the data
- BUUUT! DIW plot contains also spousal caregiving! More reason to check on my SOEP sample of healthy spouses